body{
    
    font-family: sans-serif;
    font: Verdana;
    
}
button{
  -webkit-appearance: none;
  cursor: pointer;
}
label:hover{
  text-decoration: underline;
  cursor: pointer;

}
button:hover{
  background-color: #C38d9E;
}
/*Main Div*/
.Shopify-Zone{
  background-color: #84CDCA;
  margin-right: 10%;
  margin-top: 10%;
  margin-left: 10%;
  width: 80%;
  height: 100vh;
  display: table;
}
/*----------------------Filter------------------------*/
.Main-Filter{
  background: #E8A87C;
  height: 150px;
  display: block;
  position: relative;
  padding-top: 10px;
}
.Listing-Title{
  text-align: center;
  text-transform: capitalize;
}
.Listing-Filter-Action{
  display: none;
}
.Visually-Hidden{
  position: absolute!important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.Listing-Filter-Action button::after{
  content: "";
  width: 1em;
  height: 1em;
  background-size: 100%;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.Listing-Filter-Selectors{
  padding: 30px 0 0;
  max-width: 780px;
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.Listing-Filter-Group{
  width: calc(25% - 17px);
  max-width: 220px;
  margin-right: 16px;
  display: inline-block;
}
.Select{
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-color: #fff;
    background-size: 14px;
    line-height: 1.6;
    text-indent: 0.01px;
    text-overflow: "";
    cursor: pointer;
    padding: 13px 10px;
    border: 2px solid black;
    font: 0.8em Bold;
    text-transform: uppercase;
    text-align: left;
    color: #000;
    padding: 13px 20px;
}
.Filter-Group-Content {
  display: none;
  position: absolute;
  margin-top: 10px;
  width: 100%;
  left: 0;
  background: white;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 20px;
  z-index: 10;
}
.Filter-Group-Filter{
  padding: 12px 0;
  display: block;
  
}
input{
  background-color: #fff;
  color: #111;
  max-width: 100%;
  line-height: 1.2;
  border-radius: 0;
  font-size: 13px;
  font-weight: 500;
  transition: .2s cubic-bezier(.44,.13,.48,.87);
}
.Filter-Group-Action{
  position: absolute;
  margin-top: 10px;
  width: 100%;
  left: 0;
  background: white;
}
/*------------------------ End Filter-----------*/
/* listing article */

/* ---------Products----------------- */
  .Main-Products-Content{
    position: relative;
    text-align: center;
    margin-top: 1em;
    min-height: 90px;
    border: 1px;
    display: flex;
    flex-wrap: wrap;
  }
  /* listing */
  .Listing-Container{
    display: table;
  }
  .Listing{
    display: block;
    flex-wrap: wrap;
    padding: 5px 10px;
    margin: 0 auto;
  }
/* products-card */
.Product-Card{
  height: 25%;
  width: 25%;;
  display: inline-block;
  margin: 0%;
}
.Listing-Content{
    background-color: gray;
    display: block;
    margin: 3%;
  }
  
  /* add to whish-list */
  .Add-to-Whish-List-container{
    left: auto;
    right: 0;
  }
  /* products contents */
  .Product-Content label{
    display: inline-block;
  }
  .Products-Content{
    position: relative;
    text-align: center;
    margin-top: 1em;
    min-height: 90px;
  }
  .Products-Content-Title{
    font-size: 13px;
    text-transform: lowercase;
    line-height: 1.2;
  }
  img{
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: top;
  }
  .Products-Listing-images-container{
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .Product-Content-Description{
    font-size: 11px;
    margin: 6px auto;
    min-height: 37px;
  }
  /* .Whish-List-Image{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    position: relative;
    top: 0px;
    right: 0px;
  }
  .Add-to-Whish-List-container{
    
    width: auto;
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 6;
    margin-top: 0;
    min-height: 0px;
    padding: 0;
  }
  .Add-to-Whish-List-container button{
    cursor: pointer;
    display: inline-block;
    border: 0px;
    padding: 0;
    margin: 0;
    background: black;
}
  .Add-to-Whish-List-container button:hover{
    background-color: #C38d9E;
  } */
  .End-of-Products-Card{
    width: 100%;
    height: 2px;
    background-color: white;
  }
  .Add-To-Cart-Container{
    width: 100%;
    height: 10%;
    margin-top: 1px;
  }
  .Add-To-Cart-Button{
    width: 100%;
    height: 100%;
    padding: 10px;
    -webkit-appearance: none;
  }
  
  

  